footer {
  width: 100%;
  height: auto;
  background-color: #232125;
}

.div__footer {
  display: flex;
  flex-direction: row;
  gap: 60px;
  flex-wrap: wrap;
}

.contenedor__redes {
  padding-top: 50px;
}
.contenedor__redes li,
a {
  text-decoration: none;
  list-style: none;
  color: rgb(158, 158, 158);
  font-size: 13px;
  font-family: Arial, Helvetica, sans-serif;
}
.parrafo__footer {
  color: rgb(158, 158, 158);
  font-size: 13px;
  font-family: Arial, Helvetica, sans-serif;
}
.li__footer {
  margin-bottom: 10px;
  text-decoration: none;
  list-style: none;
  color: rgb(158, 158, 158);
  font-size: 13px;
  font-family: Arial, Helvetica, sans-serif;
}

.li__footer:hover {
  text-decoration: underline;
}
