@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Oswald', sans-serif;
}

.contenedor_todo{
    position: relative;
    right: 0;
    transition: all 300ms;
}




.cover{
    width: 100%;
    padding-bottom: 120px;
    font-family: 'Poppins', sans-serif;
    padding-top: 100px;
    position: relative;
    overflow: hidden;
}



.fondo_color{
    width: 100%;
    height: 70%;
    background: #391d5b;
    position: absolute;
    top: 0;
}

.ola{
    width: 6000px;
    height: 100%;
    position: absolute;
    top: 150px;
    left: 0;
    background-image: url(../imagenes/wd1.svg);
    background-position: bottom;
}

.o1{
    animation: w1 7s linear infinite;
}

.o2{
    animation: w2 7s linear -.125s infinite, desplazamiento 7s ease -.125s infinite;
    opacity: 0.5;
}

@keyframes w1 {
    0%{
        margin-left: 0;
    }
    100%{
        margin-left: -1600px;
    }
}

@keyframes w2 {
    0%{
        margin-left: 0;
    }
    100%{
        margin-left: -1600px;
    }
}

@keyframes desplazamiento {
    0%, 100%{
        transform: translateY(-25px);
    }

    50%{
        transform: translateY(10px);
    }
}


.contenedor__cover{
    max-width: 1200px;
    margin: auto;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    position: relative;
}


.cover .contenedor__info{
    max-width: 400px;
    margin-top: 40px;
    z-index: 2;
}

.cover h1{
    max-width: 400px;
    font-size: 60px;
    font-weight: 900;
    color: #fff;
}

.cover h2{
    font-size: 60px;
    font-weight: 900;
    color: #9a64be;
    margin-top: -30px;
}

.cover p{
    margin-top: 10px;
    color: #fff;
}



.contenedor__vector{
    position: relative;
}

.contenedor__vector img{
    position: absolute;
    bottom: 10px;
    right: 0px;
    width: 430px;
    transition: all 300ms;
    animation: move_vector 6s ease-in-out infinite;
}

@keyframes move_vector{
    0%{
        transform: translateY(10px);
    }
    25%{
        transform: translateY(-10px);
    }
    100%{
        transform: translateY(10px);
    }
}

@media screen and (max-width: 920px){

    .contenedor__vector img{
        width: 430px;
    }
}

@media screen and (max-width: 760px){

    .contenedor__vector img{
        transform: scale(0);
        animation: none;
    }

}

.contenedor__nuestroEquipo{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    height: 125vh;
}
.contenedor__nuestroEquipo h2{
  
    margin-bottom: 120px;
    max-width: 400px;
    font-size: 55px;
    font-weight: 900;
    color: #9a64be;
}

.contenedor__imagenes__equipo{
    display: flex;
    flex-direction: row;
    width: 100%;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}


.contenedor__imagenes__equipo img{
    width: 200px;
    height: 200px;
    border-radius: 100%;
    object-fit: cover;
    gap: 20px;


}
.contenedor__imagenes__equipo p{
    font-size: 18px;
    margin:10px;
}


